<div class="container">
    <h2>Customer page</h2>

    <div class="card mb-3">
        <div class="card-body">

            <h2 class="card-title">{{name}}</h2>
            <p class="card-text">{{address.street}}</p>
            <p class="card-text">{{address.zipcode}} {{address.city}}</p>
            <p class="card-text">NIP: {{nip}}</p>


            <a href="/customers/edit/{{_id}}" class="btn btn-outline-primary">Edytuj</a>
            <a href="/customers/delete/{{_id}}" class="btn btn-outline-danger">Usun</a>

        </div>
    </div>

    <a href="/customers/{{_id}}/actions/add" class="btn btn-outline-success">Dodaj akcje</a> 

    {{!-- tabela z akcjami --}}
    
  

</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Data kontaktu</th>
                <th scope="col">Sposob kontaktu</th>
                <th scope="col">Opis</th>
            </tr>
        </thead>
        <tbody>
            {{#each actions}}
            <tr>
                <th scope="row">{{@index}}</th>
                <td>{{contactDate}}</td>
                <td>{{actionType}}</td>
                <td>{{description}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>